.myBanner 		{ background-color:#233645; height:100%; color:white; text-align:center; font-size:x-large; } 
.mySponsorInfo  { margin-bottom: 0%;}
.myConnector	{ padding:0px;}
.myUpcomingAgenda { }
.myPresentAgenda  { }
.myPastAgenda 	  { }
.myAgendaSlot	  { text-align:left; color:Black; border:5px solid; border-color:#233645; border-radius:25px;} /*margin-top: 10px; margin-bottom:10px;*/
.myTime			  { height: 100%; width: 100%; color: white; margin-top: 10px; margin-bottom:10px; background-color:#233645; }
.myTimeAlternate  { height: 100%; width: 100%; color: white; margin-top: 10px; margin-bottom:10px; }
.myRoom			  { text-align:left} /* height: 25%; width: 25%;*/
.myPresenter	  { text-align:left} /* height: 25%; width: 25%;*/
.myPresentation   { text-align:left}
.agendaTime		  { padding: 5px; font-weight:bold;}
.item			  { text-align: center;}
.myPresTitle { font-size:medium;}
.myPresDesc  { text-align:justify;}
.myRoomTitle { font-size:medium;}
.myRoomInfo { font-size:medium;font-weight:lighter;}
.speakerImage { height:10%; }