body   { background-color: rgb(242, 242, 242); background: url(../Images/diagonal.png); }
thead  { background-color:#00DEF2;}
th 	   { font-weight:bold; color:white; text-align: center;} 
.activeCol     { height: 250px;}
.activeRow     { font-size: 20px; background-color:#D0D0D0;}
.agenda 	   { font-family:"proxima-nova", "Century Gothic", "Arial", "san-serif"; }
.agendaTable   { height:100%;}
.head 		   { font-weight:bold; font-family:"proxima-nova", "Century Gothic", "Arial", "san-serif"; background-color:#233645; color:white;  }
.logoC		   { height: 60px; width:180px;}
.sessionColumn { height: 100%;}



