body    {background: url(../Images/diagonal.png); background-color: rgb(242, 242, 242); }
.agendaTable { height:100%;}
.sessionColumn { height: 100%;}
.logoC  {height: 60px; width:180px;}
.agenda { font-family:"proxima-nova", "Century Gothic", "Arial", "san-serif"; }
.head   { color:white; font-weight:bold; font-family:"proxima-nova", "Century Gothic", "Arial", "san-serif"; background-color:#233645; }