.mypanel 	{ height: 100%; background-color:white; }
.makesmaller { font-size: small; }
.mypanel ul, li  { font-size: small; }

.innerLeftColumn_room202 { height: 100%; background-color: #34b44e;padding-left:20px; border-radius:5px; }
.innerLeftColumn_room204 { height: 100%; background-color: #ba2025;padding-left:20px; border-radius:5px; }
.innerLeftColumn_room205 { height: 100%; background-color: #6A6A6A;padding-left:20px; border-radius:5px; }
.innerLeftColumn_room301 { height: 100%; background-color: #cc2129;padding-left:20px; border-radius:5px; }
.innerLeftColumn_room302 { height: 100%; background-color: #652c84;padding-left:20px; border-radius:5px; }
.innerLeftColumn_room303 { height: 100%; background-color: #00DEF2;padding-left:20px; border-radius:5px; }
.innerLeftColumn_roomLL2 { height: 100%; background-color: #f26625;padding-left:20px; border-radius:5px; }
                                          
.innerRightColumn_room202 { height: 100%; margin-left:1%; margin-right:2%; }
.innerRightColumn_room204 { height: 100%; margin-left:1%; margin-right:2%; }
.innerRightColumn_room205 { height: 100%; margin-left:1%; margin-right:2%; }
.innerRightColumn_room301 { height: 100%; margin-left:1%; margin-right:2%; }
.innerRightColumn_room302 { height: 100%; margin-left:1%; margin-right:2%; }
.innerRightColumn_room303 { height: 100%; margin-left:1%; margin-right:2%; }
.innerRightColumn_roomLL2 { height: 100%; margin-left:1%; margin-right:2%; }

.statusLabelConfirmedTrue  {color:#19b244; font-weight: bold; margin-bottom:10%}
.statusLabelConfirmedFalse {color:#ba2025; font-weight: bold;}

.trackDigital { background-color: #f26529; float:right; margin-top:2%;margin-right:3%; color:white;padding:5px; border-radius:5px; }
.trackDevelop { background-color: #662584; float:right; margin-top:2%;margin-right:3%; color:white;padding:5px; border-radius:5px; }
.trackDesign  { background-color: #54C7DF; float:right; margin-top:2%;margin-right:3%; color:white;padding:5px; border-radius:5px; }
.trackNoTrack { /*background-color: #000;    color:white;padding:5px; border-radius:5px; */}

.speakerName    { font-weight: bold; font-size:small; color: #19b244}
.speakerCompany { font-size:small; }