.twitterPanel { font-size:x-small;  overflow-y: visible; height:15%;background-color:#F0F0F0;}
.tweet { padding-top:2px;}
.liveTweetsTop { background-color:#39b3d7;font-weight:bold;color:white; border-top-left-radius: 10px 5px; border-top-right-radius: 10px;} 
.liveTweetsBottom { background-color:#39b3d7;font-weight:bold;color:white; border-bottom-left-radius: 10px 5px; border-bottom-right-radius: 10px;} 